* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-size: calc(0.625rem + 0.4vw);
}
body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: minmax(16rem, 15%) 1fr;
    grid-template-rows: 10rem 1fr;
}
header {
    padding: 20px;
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr 1fr;
    border: 2px solid blue;
}
#search-form-container {
    background-color: aqua;
    display: flex;
    align-items: center;
}
#search-outline {
    height: 20px;
    width: 40px;
}
#search-bar {
    background-color: grey;
    width: 100%;
    border: 1px solid grey;
    border-radius: 10px;
}
#notifications-container {
    display: flex;
    align-items: center;
    justify-content:flex-end;
}
#notifications-container > *:not(.profile-img) {
    padding: 20px;
}
.profile-img {
    width: 2rem;
    height: 2rem;
    background-color: black;
    border-radius: 50%;
}
#greeting {
    
}
#username {
    
}
#nameplate-container {

}
#nameplate-wrapper {
    /* width: 100%; */
    /* background-color: blue; */
}
#nameplate-wrapper > img {
    height: 4rem;
    width: 4rem;
    margin-right: 20px;
    float: left;
}
#creation-btns-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
button {
    width: 8rem;
    padding: 15px;
    border-radius: 10px;
    border: none;
}
#navigation-container {
    padding: 20px;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    background-color: white;
    border: 2px solid red;
}
#activity-links, #configuration-links {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    list-style-type: none;
}
main {
    padding: 20px;
    background-color: burlywood;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
}
#projects-container {
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    grid-template-rows: max-content;
    gap: 10px;
    background-color: aqua;
}
#projects-title {
    grid-column: 1 / -1;
    background-color: red;
    
}
.card {
    padding: 20px;
    border: 2px solid purple;
}
.project {
  
}
#right-side-container {
    grid-column: 2 / -1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1.5fr max-content 1fr;
    gap: 10px;
}
#announcements-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#trending-wrapper {
    
}
#trending-wrapper > img {
    float: left;
}